In [1]:
#Importing libraries and functions
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
#Importing Dataset 
dataset=pd.read_excel("C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/a_Dataset_CreditScoring.xlsx")

In [3]:
#Data Preparation
# shows count of rows and columns
dataset.shape

(3000, 30)

In [4]:
#shows first few rows of the code
dataset.head()

,TARGET,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,1,582,3,3,0,4,0.0,5,117,27,...,3.0,0.9179,0.2083,2,3,7,0.2083,4,4,0.0000
1,1,662,15,9,0,3,1.0,3,14,14,...,1.0,0.8000,0.0000,0,0,0,1.0000,12,0,1.0000
2,1,805,0,0,0,1,5.0,1,354,7,...,5.0,0.3552,0.6538,0,1,1,0.7308,1,1,0.5263
3,1,1175,8,5,0,6,1.0,10,16,4,...,3.0,0.9127,0.2500,1,1,1,0.7500,7,1,1.3333
4,1,1373,3,1,0,9,0.0,8,130,52,...,1.0,1.2511,0.0000,0,1,4,0.1429,3,1,0.0000

In [5]:
#dropping customer ID column from the dataset
dataset=dataset.drop('ID',axis=1)
dataset.shape

(3000, 29)

In [6]:
# explore missing values
dataset.isna().sum()

TARGET               0
DerogCnt             0
CollectCnt           0
BanruptcyInd         0
InqCnt06             0
InqTimeLast        188
InqFinanceCnt24      0
TLTimeFirst          0
TLTimeLast           0
TLCnt03              0
TLCnt12              0
TLCnt24              0
TLCnt                3
TLSum               40
TLMaxSum            40
TLSatCnt             4
TLDel60Cnt           0
TLBadCnt24           0
TL75UtilCnt         99
TL50UtilCnt         99
TLBalHCPct          41
TLSatPct             4
TLDel3060Cnt24       0
TLDel90Cnt24         0
TLDel60CntAll        0
TLOpenPct            3
TLBadDerogCnt        0
TLDel60Cnt24         0
TLOpen24Pct          3
dtype: int64

In [7]:
# filling missing values with mean
dataset=dataset.fillna(dataset.mean())

In [8]:
# explore missing values post missing value fix
dataset.isna().sum()

TARGET             0
DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [10]:
# # count of good loans (0) and bad loans (1)
dataset['TARGET'].value_counts()

TARGET
0    2500
1     500
Name: count, dtype: int64

In [11]:
# # data summary across 0 & 1
dataset.groupby('TARGET').mean()

,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,TLCnt03,TLCnt12,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
TARGET,,,,,,,,,,,,,,,,,,,,,
0,1.3224,0.7664,0.1492,2.9424,3.174638,3.2896,173.002,11.650,0.2844,1.832,...,3.986711,0.628177,0.544963,0.6044,0.6624,2.2236,0.502376,1.180,0.8648,0.556867
1,1.9680,1.3100,0.1740,3.9380,2.775459,4.8820,155.672,12.992,0.2280,1.768,...,4.533870,0.748185,0.385173,1.3340,1.5760,4.0140,0.465127,2.554,2.0860,0.600978

In [ ]:
#Train Test Split

In [14]:
y = dataset.iloc[:, 0].values
X = dataset.iloc[:, 1:29].values

In [16]:
# splitting dataset into training and test (in ratio 80:20)

X_train, X_test, y_train, y_test = train_test_split(X, y, 
                                                    test_size=0.2, 
                                                    random_state=0,
                                                    stratify=y)

In [17]:
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [24]:
# Exporting Normalisation Coefficients for later use in prediction
import joblib
joblib.dump(sc, 'C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/f2_Normalisation_CreditScoring')

['C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/f2_Normalisation_CreditScoring']

In [18]:
# Risk Model Building 
classifier =  LogisticRegression()
classifier.fit(X_train, y_train)
y_pred = classifier.predict(X_test)

In [25]:
# Exporting Logistic Regression Classifier for later use in prediction

# import joblib
joblib.dump(classifier, 'C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/f1_Classifier_CreditScoring')

['C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/f1_Classifier_CreditScoring']

In [19]:
# Model performance
print(confusion_matrix(y_test,y_pred))

[[487  13]
 [ 87  13]]

In [20]:
print(accuracy_score(y_test, y_pred))

0.8333333333333334

In [21]:
# Writing Output file
predictions = classifier.predict_proba(X_test)
predictions

array([[0.61644691, 0.38355309],
       [0.9885656 , 0.0114344 ],
       [0.87069686, 0.12930314],
       ...,
       [0.94450568, 0.05549432],
       [0.46756903, 0.53243097],
       [0.94014209, 0.05985791]])

In [26]:
# writing model output file

df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_0', 'prob_1'])
df_prediction_target = pd.DataFrame(classifier.predict(X_test), columns = ['predicted_TARGET'])
df_test_dataset = pd.DataFrame(y_test,columns= ['Actual Outcome'])

dfx=pd.concat([df_test_dataset, df_prediction_prob, df_prediction_target], axis=1)

dfx.to_csv("C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/c1_Model_Prediction.xlsx", sep=',', encoding='UTF-8')

dfx.head()

   Actual Outcome    prob_0    prob_1  predicted_TARGET
0               1  0.616447  0.383553                 0
1               0  0.988566  0.011434                 0
2               1  0.870697  0.129303                 0
3               0  0.953963  0.046037                 0
4               1  0.726633  0.273367                 0

In [ ]:
In this Credit Score Prediction file, we shall use our Credit Scoring model that we exported to our project folder (f1_classifier) - in previous code file - to predict Credit Scores for New Loan Applications file (e_NewApplications).

In [1]:
#Importing libraries & functions
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.linear_model import LogisticRegression

In [2]:
#Importing dataset
dataset=pd.read_excel("e_NewApplications_CreditScore_Needed.xlsx")
# !ls

In [3]:
#Data Preparation
# shows count of rows and columns
dataset.shape

(30, 29)

In [4]:
#shows first few rows of the code
dataset.head()

,ID,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,TLTimeLast,TLCnt03,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,7140,3,2,0,0,11.0,0,90,9,0,...,2.0,0.8645,0.1667,2,2,4,0.2500,3,3,1.0000
1,7163,4,2,1,3,3.0,2,221,3,1,...,2.0,0.6774,0.3333,0,2,5,0.2000,3,2,0.3333
2,122900,0,0,0,11,1.0,13,152,2,2,...,5.0,0.8371,0.5758,1,0,0,0.2121,0,0,1.8571
3,7226,1,1,0,2,1.0,4,206,21,0,...,NaN,0.0000,0.2500,0,0,3,0.1250,1,0,1.0000
4,7251,1,1,0,4,1.0,5,152,11,0,...,2.0,0.8892,0.2500,2,1,2,0.7500,1,2,0.3333

In [5]:
#dropping customer ID column from the dataset
dataset=dataset.drop('ID',axis=1)
dataset.shape

(30, 28)

In [6]:
# explore missing values
dataset.isna().sum()

DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        3
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        1
TL50UtilCnt        1
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [7]:
# filling missing values with mean
dataset=dataset.fillna(dataset.mean())

In [8]:
# explore missing values post missing value fix
dataset.isna().sum()

DerogCnt           0
CollectCnt         0
BanruptcyInd       0
InqCnt06           0
InqTimeLast        0
InqFinanceCnt24    0
TLTimeFirst        0
TLTimeLast         0
TLCnt03            0
TLCnt12            0
TLCnt24            0
TLCnt              0
TLSum              0
TLMaxSum           0
TLSatCnt           0
TLDel60Cnt         0
TLBadCnt24         0
TL75UtilCnt        0
TL50UtilCnt        0
TLBalHCPct         0
TLSatPct           0
TLDel3060Cnt24     0
TLDel90Cnt24       0
TLDel60CntAll      0
TLOpenPct          0
TLBadDerogCnt      0
TLDel60Cnt24       0
TLOpen24Pct        0
dtype: int64

In [9]:
#Train Test Split
X_fresh = dataset

In [10]:
# Loading normalisation coefficients - exported from the model code file as f2_Normalisation 

import joblib

sc = joblib.load('./f2_Normalisation_CreditScoring')

In [11]:
X_fresh = sc.transform(X_fresh)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but StandardScaler was fitted without feature names
  warnings.warn(

In [12]:
#Risk Model Building
# Loading Classifier file - exported from the model code file as f1_Classifier 

classifier = joblib.load('./f1_Classifier_CreditScoring')

In [13]:
# Generating fresh Target values for new applications

y_fresh = classifier.predict(X_fresh)

In [14]:
#Writing Output file
predictions = classifier.predict_proba(X_fresh)
predictions

array([[0.51015419, 0.48984581],
       [0.94910695, 0.05089305],
       [0.88668898, 0.11331102],
       [0.92293403, 0.07706597],
       [0.48571306, 0.51428694],
       [0.85712913, 0.14287087],
       [0.23253471, 0.76746529],
       [0.29184912, 0.70815088],
       [0.88234923, 0.11765077],
       [0.95439841, 0.04560159],
       [0.97779352, 0.02220648],
       [0.65284143, 0.34715857],
       [0.72187826, 0.27812174],
       [0.9312279 , 0.0687721 ],
       [0.96058943, 0.03941057],
       [0.24831948, 0.75168052],
       [0.91149926, 0.08850074],
       [0.34624443, 0.65375557],
       [0.94022434, 0.05977566],
       [0.97927613, 0.02072387],
       [0.98754303, 0.01245697],
       [0.87094012, 0.12905988],
       [0.96699666, 0.03300334],
       [0.90804263, 0.09195737],
       [0.95286033, 0.04713967],
       [0.63645378, 0.36354622],
       [0.52051324, 0.47948676],
       [0.92464861, 0.07535139],
       [0.90651848, 0.09348152],
       [0.90163267, 0.09836733]])

In [15]:
# writing model output file

df_prediction_prob = pd.DataFrame(predictions, columns = ['prob_0', 'prob_1'])
df_test_dataset = pd.DataFrame(X_fresh, columns = dataset.columns)
df_prediction_target = pd.DataFrame(y_fresh,columns= ['Predicted Outcome'])

dfx=pd.concat([df_prediction_target, df_prediction_prob, df_test_dataset], axis=1)

dfx.to_csv("C:/Users/786am/Desktop/Desktop/My projects/Credit_Scoring_Project/f4_NewApplications_CreditScore_Predictions.xlsx", sep=',', encoding='UTF-8')

dfx.head(10)

,Predicted Outcome,prob_0,prob_1,DerogCnt,CollectCnt,BanruptcyInd,InqCnt06,InqTimeLast,InqFinanceCnt24,TLTimeFirst,...,TL50UtilCnt,TLBalHCPct,TLSatPct,TLDel3060Cnt24,TLDel90Cnt24,TLDel60CntAll,TLOpenPct,TLBadDerogCnt,TLDel60Cnt24,TLOpen24Pct
0,0,0.510154,0.489846,0.590166,0.562700,-0.425561,-0.878069,1.713059,-0.786738,-0.861443,...,-0.666667,0.811837,-1.473889,1.092200,0.740200,0.411803,-1.178579,0.689685,1.062752,0.875076
1,0,0.949107,0.050893,0.970000,0.562700,2.349838,-0.033095,-0.037628,-0.343037,0.546435,...,-0.666667,0.110051,-0.773378,-0.624421,0.740200,0.698691,-1.418722,0.689685,0.510793,-0.475915
2,0,0.886689,0.113311,-0.549334,-0.432495,-0.425561,2.220171,-0.475300,2.097322,-0.195119,...,0.306783,0.709064,0.246273,0.233890,-0.507328,-0.735747,-1.360607,-0.613656,-0.593127,2.611890
3,0,0.922934,0.077066,-0.169501,0.065102,-0.425561,-0.314753,-0.475300,0.100665,0.385228,...,-0.017701,-2.430781,-1.123633,-0.624421,-0.507328,0.124916,-1.778937,-0.179209,-0.593127,0.875076
4,1,0.485713,0.514287,-0.169501,0.065102,-0.425561,0.248563,-0.475300,0.322516,-0.195119,...,-0.666667,0.904483,-1.123633,1.092200,0.116436,-0.161972,1.222852,-0.179209,0.510793,-0.475915
5,0,0.857129,0.142871,-0.169501,0.065102,2.349838,-0.314753,-0.256464,-0.786738,-0.496040,...,-0.017701,1.424352,-0.072447,-0.624421,-0.507328,-0.161972,0.622495,-0.613656,-0.593127,0.875076
6,1,0.232535,0.767465,-0.549334,-0.432495,-0.425561,-0.596411,0.618879,0.100665,-0.732477,...,2.253682,1.009883,-0.346596,1.950511,1.987728,0.411803,0.544208,1.124132,1.614712,-1.151310
7,1,0.291849,0.708151,5.148169,4.045884,-0.425561,-0.033095,-0.475300,-0.121186,-1.678228,...,-0.991150,0.569907,-2.174820,-0.624421,-0.507328,-0.735747,2.423568,4.599707,-0.593127,0.875076
8,0,0.882349,0.117651,-0.549334,-0.432495,-0.425561,-0.878069,-0.118679,-0.786738,-0.646500,...,-0.991150,0.369236,-0.372666,-0.624421,0.116436,-0.161972,-0.320788,-0.179209,-0.041167,-1.151310
9,0,0.954398,0.045602,-0.549334,-0.432495,-0.425561,-0.596411,0.400043,-0.564888,1.975808,...,0.306783,-1.098476,0.574243,-0.624421,0.116436,-0.448860,1.130638,-0.179209,-0.041167,-0.084823